<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ag-grid-angular
        style="width: 100%; height: 700px;"
        class="ag-theme-material"
        [rowData]="githubs$"
        [columnDefs]="columnDefs"
        [animateRows]="true"
        [debug]="true"
        [pagination]="true"
        [paginationAutoPageSize]="true"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
